<!DOCTYPE html>
<html>

<head>
    <title>Student Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Create a new student profile</h1>
        <form action="/students" method="POST">
            <div class="form-group">
                <label for="neuId">NEU ID:</label>
                <input class="form-control" type="number" name="student[neuId]" id="neuId" placeholder="NEU ID">
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input class="form-control" type="text" name="student[firstName]" id="firstName" placeholder="first name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input class="form-control" type="text" name="student[lastName]" id="lastName" placeholder="last name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="student[email]" id="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <input class="form-control" type="text" name="student[gender]" id="gender" placeholder="gender">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input class="form-control" type="number" name="student[phone]" id="phone" placeholder="phone">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input class="form-control" type="text" name="student[address]" id="address" placeholder="address">
            </div>
            <div class="form-group">
                <label for="graduationMonth">Graduation Month:</label>
                <input class="form-control" type="number" name="student[graduationMonth]" id="graduationMonth" placeholder="Grad Month">
            </div>
            <div class="form-group">
                <label for="graduationYear">Graduation Year:</label>
                <input class="form-control" type="number" name="student[graduationYear]" id="graduationYear" placeholder="Grad Year">
            </div>
            <div class="form-group">
                <label for="startTerm">Start Term:</label>
                <input class="form-control" type="text" name="student[startTerm]" id="startTerm" placeholder="Spring 2017">
            </div>
            <div class="form-group">
                <label for="major">Major:</label>
                <input class="form-control" type="text" name="student[major]" id="major" placeholder="Computer Science">
            </div>
            <div class="form-group">
                <label for="degree">Degree:</label>
                <input class="form-control" type="text" name="student[degree]" id="degree" placeholder="Master of Science">
            </div>
            <div class="form-group">
                <label for="campus">Campus:</label>
                <input class="form-control" type="text" name="student[campus]" id="campus" placeholder="Boston">
            </div>
            <div class="form-group">
                <label for="citizenshipStatus">Citizenship Status:</label>
                <input class="form-control" type="text" name="student[citizenshipStatus]" id="citizenshipStatus" placeholder="Green Card">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
</body>

</html>